body {
    background-color: #dfe0e4;
    }
    
    
    #header {
    background-color:#0a0e11ad;
    width:100%;
    margin-top:-8px;
    }
    
    .head-view {
    margin:auto;
    width:1300px;
    line-height:50px;
    }
    
    .head-view label {
    color:#ffffff;
    font-size:25px;
    font-weight:bold;
    text-shadow:3px 3px 3px #000000;
    }
    
    .head-view ul {
    width: 1200px;
    margin: auto;
    }
    
    .head-view  li {
    display: inline;
    color: #fff;
    margin: 0px 30px 0px 5px;
    }
    
    .head-view  li a {
    text-decoration:none;
    }
    
    .head-view label:hover {
    padding: 5px 0px 5px 0px;
    border-bottom: 4px dashed #fff;
    cursor: pointer;
    }
    
    .active {
    padding: 5px 0px 5px 0px;
    border-top: 4px solid #fff;
    }
    
    .head-view b {
    color:#ffffff;
    text-shadow:3px 3px 3px #000000;
    font-size:50px;
    }
    
    .btn-sign-in {
    color:#000000;
    font-size:19px;
    width:100px;
    line-height:30px;
    background-color:#c3c3c3;
    border:2px solid #000000;
    border-radius:100px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -o-border-radius:100px;
    }
    
    .btn-sign-in:hover {
    color:#ffffff;
    background-color:#000000;
    border:2px solid #000000;
    }
    
    #container {
    width:1200px;
    margin:auto;
    }
    
    #left-nav {
    width: 348px;
    height:180px;
    float:left;
    border: 1px solid #dfe0e4;
    background-color: #0a0e11ad;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top:10px;
    }
    
    #left-nav1 {
    width: 90%;
    margin:auto;
    background-color: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top:20px;
    margin-bottom:50px;
    }
    
    #left-nav1 button {
    float:right;
    color:#ffffff;
    font-size:19px;
    width:100px;
    background-color:#0bacff;
    border:2px solid #0bacff;
    border-radius:100px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -o-border-radius:100px;
    }
    
    .form-1 {
    width:300px;
    text-indent:5px;
    height:25px;
    font-size:19px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    }
    
    #left-nav1 button:hover {
    color:#ffffff;
    background-color:#0488cd;
    border:2px solid #0488cd;
    }
    
    #left-nav1 h2 {
    color:#000000;
    }
    
    fieldset {
    border:3px solid #CCCCCC;
    border-radius:4px;
    }
    
    table td {
    color:#000000;
    font-size:20px;
    }
    
    table a {
    text-decoration:none;
    color:#0000ff;
    }
    
    table a:hover {
    color:#ff0000;
    }
    
    #left-nav1 table {
    width:90%;
    margin:auto;
    }
    
    #left-nav1 img {
    width:60px;
    height:60px;
    margin:auto;
    border:2px solid #CCCCCC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    }
    
    #left-nav1 b {
    color:#000000;
    font-size:18px;
    }
    
    #left-nav1 b:hover {
    color:#ffffff;
    text-shadow:2px 2px 2px #000000;
    }
    
    #left-nav1 label {
    color:#000000;
    font-size:23px;
    font-weight:bold;
    }
    
    .clip1{
    margin-top: 10px;
    margin-left: 15px;
    position: relative;
    width: 95px;
    height: 100px;
    border: solid 2px #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    }
    .clip1 img {
    width: 95px;
    height: 100px;
    margin: auto;	
    left: -15px;
    }
    
    .user-details {
    width: 200px;
    margin: -50px 0 0 125px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    }
    
    .user-details h2 {
    color:#ffffff;
    text-shadow:2px 2px 2px #000000;
    }
    
    #right-nav {
    float:right;
    width:800px;
    background-color:#ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:3px solid #CCCCCC;
    margin-top:10px;
    }
    
    #right-nav h1 {
    text-indent:10px;
    }
    


    